<?xml version="1.0"?>
<config>
    <modules>
        <Grep_Minicart>
            <version>1.0.0</version>
        </Grep_Minicart>
    </modules>
    <global>
        <helpers>
            <grep_minicart>
                <class>Grep_Minicart_Helper</class>
            </grep_minicart>
        </helpers>
        <blocks>
            <grep_minicart>
                <class>Grep_Minicart_Block</class>
            </grep_minicart>
            <core>
                <rewrite>
                    <messages>Grep_Minicart_Block_Messages</messages>
                </rewrite>
            </core>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <grep_minicart translate="title" module="grep_minicart">
                                            <title>Minicart</title>
                                        </grep_minicart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <grep_minicart>
                <use>standard</use>
                <args>
                    <module>Grep_Minicart</module>
                    <frontName>minicart</frontName>
                </args>
            </grep_minicart>
        </routers>
        <layout>
            <updates>
                <grep_minicart>
                    <file>grep/minicart.xml</file>
                </grep_minicart>
            </updates>
        </layout>
    </frontend>
</config>
