<?xml version="1.0"?>
<config>
	<default>
		<sociallogin_options>
			<messages>
				<loginEnable>0</loginEnable>
				<loginradius_title>Login with your social account</loginradius_title>
				<iconSize>small</iconSize>
				<showdefault>1</showdefault>
				<socialLinking>1</socialLinking>
				<redirect>account</redirect>
				<aboveLogin>1</aboveLogin>
				<aboveRegister>1</aboveRegister>
			</messages>
			<email_settings>
				<profileFieldsRequired>0</profileFieldsRequired>
				<updateProfileData>1</updateProfileData>
				<emailrequired>1</emailrequired>
				<verificationText>Please click on the following link or paste it in browser to verify your email:-</verificationText>
				<popupText>Please enter your email to proceed</popupText>
				<popupError>The email you entered is already registered or invalid. Please enter a valid email.</popupError>
				<notifyUser>1</notifyUser>
				<notifyAdmin>0</notifyAdmin>
				<notifyAdminText>New customer has been registered to your store with following details:-</notifyAdminText>
			</email_settings>
			<horizontalSharing>
				<horizontalShareEnable>1</horizontalShareEnable>
				<horizontalShareProduct>1</horizontalShareProduct>
				<horizontalShareSuccess>1</horizontalShareSuccess>
				<sharingTitle>Share it now!</sharingTitle>
				<horizontalSharingTheme>32</horizontalSharingTheme>
				<horizontalSharingProvidersHidden>Facebook,Twitter,GooglePlus,LinkedIn,Pinterest,Print,Email</horizontalSharingProvidersHidden>
				<horizontalCounterProvidersHidden>Facebook Like,Google+ +1,Twitter Tweet,Pinterest Pin it,Hybridshare</horizontalCounterProvidersHidden>
			</horizontalSharing>
			<verticalSharing>
				<verticalShareEnable>1</verticalShareEnable>
				<verticalShareProduct>1</verticalShareProduct>
				<verticalShareSuccess>1</verticalShareSuccess>
				<verticalSharingTheme>counter_vertical</verticalSharingTheme>
				<verticalAlignment>top_left</verticalAlignment>
				<offset>150</offset>
				<verticalSharingProvidersHidden>Facebook,Twitter,GooglePlus,LinkedIn,Pinterest,Print,Email</verticalSharingProvidersHidden>
				<verticalCounterProvidersHidden>Facebook Like,Google+ +1,Twitter Tweet,Pinterest Pin it,Hybridshare</verticalCounterProvidersHidden>
			</verticalSharing>
		</sociallogin_options>
	</default>
    <modules>
        <Loginradius_Sociallogin>
            <version>4.1.0</version>
        </Loginradius_Sociallogin>
    </modules>
	<frontend>
	<layout>
            <updates>
                <sociallogin>
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <Loginradius_Sociallogin>
                    <files>
                        <default>Loginradius_Sociallogin.csv</default>
                    </files>
                </Loginradius_Sociallogin>
            </modules>
        </translate>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>Loginradius_Sociallogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
        </routers>
    </frontend>
	<admin>
        <routers>
			<sociallogin>
				<use>admin</use>
				<args>
					<module>Loginradius_Sociallogin</module>
					<frontName>sociallogin admin</frontName>
				</args>
			</sociallogin>
        </routers>
    </admin>
	<adminhtml>
	<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sociallogin_options>
                                            <title>Store Social login Module Section</title>
                                        </sociallogin_options>
										<sociallogin_advanced>
                                            <title>Store Social login Module Section</title>
                                        </sociallogin_advanced>
										<sociallogin_profiledata>
                                            <title>Store Social login Module Section</title>
                                        </sociallogin_profiledata>
									</children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Loginradius_Sociallogin>
							<title>Sociallogin Module</title>
							<sort_order>10</sort_order>
						</Loginradius_Sociallogin>
						<Loginradius_Sociallogin>
							<title>Sociallogin 2 Module</title>
							<sort_order>12</sort_order>
						</Loginradius_Sociallogin>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sociallogin>
					<file>loginradius_sociallogin.xml</file>
				</sociallogin>
			</updates>
		</layout>
    </adminhtml>
	<global>
		<models>
            <sociallogin>
                <class>Loginradius_Sociallogin_Model</class>
                <resourceModel>sociallogin_mysql4</resourceModel>
            </sociallogin>
            <sociallogin_mysql4>
                <class>Loginradius_Sociallogin_Model_Mysql4</class>
                <entities>
                    <sociallogin>
                        <table>sociallogin</table>
                    </sociallogin>
                </entities>
            </sociallogin_mysql4>
        </models>
		<blocks>
			<adminhtml>
				<rewrite>
					<customer_grid>Loginradius_Sociallogin_Block_Grid</customer_grid>
				</rewrite>
			</adminhtml>
		</blocks>
        <resources>
            <sociallogin_setup>
                <setup>
                    <module>Loginradius_Sociallogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sociallogin_setup>
            <sociallogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sociallogin_write>
            <sociallogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sociallogin_read>
        </resources>

	<blocks>
            <sociallogin>
                <class>Loginradius_Sociallogin_Block</class>
            </sociallogin>
    </blocks>
	<helpers>
            <sociallogin>
                <class>Loginradius_Sociallogin_Helper</class>
            </sociallogin>
    </helpers>
	</global>
</config>