
// =============================================
// Compass Defaults
// =============================================

// Border Radius

$default-border-radius: 5px;

// Transition

$default-transition-property: all;
$default-transition-duration: 200ms;
$default-transition-function: linear;
$default-transition-delay: 0;

// =============================================
// Primary Break Points
// =============================================

// These should be used with the bp (max-width, xx) mixin
// where a min-width is used, remember to +1 to break correctly.
// If these are changed, they must also be updated in app.js

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 979px;
$bp-xlarge: 1199px;

// =============================================
// Base Values
// =============================================

// Spacing

$gap: 10px;

$trim: 30px;
// This will get applied on viewports smaller than 480px
$trim-small: 15px;

// Padding that will get applied to content areas
$box-spacing-large: 20px;

// Standard padding around box elements such as banner messages, etc
$box-spacing: 10px;

// Standard spacing between elements within a box, such as "Add to cart", "Price box", etc
$element-spacing: 7px;

// Dimensions

$max-content-width: 1200px;
$max-container-width: $trim + $max-content-width + $trim;
$max-std-formatted-width: 50em;

// =============================================
// Brand Colors
// =============================================

// Usually not used directly in Sass partials.
// Only used to define context-based color vars in this file.

$c-blue: #3399CC;
$c-green: #11B400;
$c-pink: #e7168e;
$c-orange: #F3793B;
$c-red: #CF5050;
$c-yellow: #FFDD15;
$c-black: #323234;
$c-gray: #8a8a8a;

$c-facebook:#3b5998;
$c-twitter:#00aced;
$c-youtube:#bb0000;
$c-pinterest:#cb2027;
$c-instagram:#517fa4;
$c-gplus:#dd4b39;

// =============================================
// Base Colors
// =============================================

// background
$c-bg-gray: #ececec;

// Text

$c-text: #636363;
$c-text-gray: #8e8e8e;
$c-text-white: #ffffff;
// Primary font color for headings and other non-link text
$c-text-primary: $c-pink;
$c-text-secondary: $c-text-gray;


// Interaction

$c-action: $c-pink;
$c-stimulus: darken($c-action, 15%);
$c-subtle: #A0A0A0;

// Notifications

$c-danger: #FF0000;
$c-success: $c-green;
$c-warn: #E26703;
$c-dark: #676157;

// Global Elements

$c-divider-border: #ECECEC;

// =============================================
// Element Colors
// =============================================

// Buttons

$c-button: $c-pink;
$c-button-hover: darken($c-pink, 5%);
$c-button-active: darken($c-pink, 10%);

// Secondary Buttons

$c-button-secondary: #DDDDDD;
$c-button-secondary-hover: darken(#DDDDDD, 5%);
$c-button-secondary-active: darken(#DDDDDD, 10%);

$c-button-subtle: #ECECEC;

// Forms

$c-input-border: #C0C0C0;
$c-input-border-focus: $c-blue;

$c-input-placeholder: $c-text-gray;
$c-input-text: $c-text;

$c-fieldset-border: #CCCCCC;
$c-fieldset-border-light: #EDEDED;

// Headings

$c-h1: $c-black;
$c-h2: $c-black;
$c-h3: $c-black;
$c-h4: $c-black;
$c-h5: $c-black;
$c-h6: $c-black;

// Link
$c-link: $c-black;
$c-link-hover: darken($c-action, 5%);
$c-link-focus: $c-action;
$c-link-active: darken($c-action, (5% / 2));

// Module (generic)

$c-module-background: #eeeeee; // too light on pc #F4F4F4;
// This should be applied whenever the border is surrounding a white element and/or is directly showing on white.
$c-module-border: #e3e3e3; // too light for pc #ececec;
// This should be applied whenever the border is wrapping an element with $c-module-background
$c-module-border-light: #e3e3e3;
$c-module-border-highlight: $c-pink;

// Table

$c-table-background: #fff;
$c-table-border: $c-module-border;

$c-table-zebra-odd: #F8F7F5;
$c-table-zebra-even: #fff;

// Tabs

$c-tabs-background: #F0F0F0;

// =============================================
// Typography
// =============================================

// Google Web Font stylesheet is included via layout XML

// Font Stacks

$f-stack-sans: 'Lato','Helvetica Neue', Verdana, Arial, sans-serif;
$f-stack-special: 'Gotham SSm A', 'Gotham SSm B', 'Lato', Arial, sans-serif;
$f-stack-serif: 'Georgia','Times New Roman', serif;
$f-stack-serif-special: 'Didot 24 A', 'Didot 24 B','Times New Roman', serif;

$f-stack-default: $f-stack-sans;

// Font Sizes

$f-size-xxl: 18px;
$f-size-xl: 16px;
$f-size-l: 15px;

$f-size: 14px;

$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;

// Base Measures

$b-line-height: 1.5;
$b-margin-bottom: 1.5em;
