<?xml version="1.0"?>
<config>
    <modules>
        <Bronto_Reviews>
            <version>0.0.1</version>
        </Bronto_Reviews>
    </modules>
    <global>
        <helpers>
            <bronto_reviews>
                <class>Bronto_Reviews_Helper</class>
            </bronto_reviews>
        </helpers>
        <blocks>
            <bronto_reviews>
                <class>Bronto_Reviews_Block</class>
            </bronto_reviews>
        </blocks>
        <models>
            <bronto_reviews>
                <class>Bronto_Reviews_Model</class>
                <resourceModel>bronto_reviews_mysql4</resourceModel>
            </bronto_reviews>
            <bronto_reviews_mysql4>
                <class>Bronto_Reviews_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>bronto_reviews_queue</table>
                    </queue>
                </entities>
            </bronto_reviews_mysql4>
        </models>
        <resources>
            <bronto_reviews_setup>
                <setup>
                    <module>Bronto_Reviews</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bronto_reviews_setup>
            <bronto_reviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bronto_reviews_write>
            <bronto_reviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bronto_reviews_read>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <bronto_reviews_sales_order_save_after>
                        <type>singleton</type>
                        <class>bronto_reviews/observer</class>
                        <method>markOrderForReview</method>
                    </bronto_reviews_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <default>
        <bronto_reviews>
            <settings>
                <enabled>0</enabled>
                <status>complete</status>
                <cancel_status>closed</cancel_status>
                <url_suffix>#review-form</url_suffix>
                <period>14</period>
                <message></message>
                <sender_email></sender_email>
                <sender_name></sender_name>
                <reply_to></reply_to>
            </settings>
        </bronto_reviews>
    </default>
    
    <phpunit>
        <suite>
            <modules>
                <Bronto_Reviews/>
            </modules>
        </suite>
    </phpunit>
</config>