<?xml version="1.0"?>
<config>
    <modules>
        <Grep_Bracelet>
            <version>1.0.0</version>
        </Grep_Bracelet>
    </modules>
    <global>
        <models>
            <grep_bracelet>
                <class>Grep_Bracelet_Model</class>
            </grep_bracelet>
        </models>
        <helpers>
            <grep_bracelet>
                <class>Grep_Bracelet_Helper</class>
            </grep_bracelet>
        </helpers>
        <blocks>
            <grep_bracelet>
                <class>Grep_Bracelet_Block</class>
            </grep_bracelet>
        </blocks>
        <resources>
            <grep_bracelet_setup>
                <setup>
                    <module>Grep_Bracelet</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </grep_bracelet_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <grep_bracelet translate="title" module="grep_bracelet">
                                            <title>Bracelet Chooser</title>
                                        </grep_bracelet>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <grep_bracelet>
                <use>standard</use>
                <args>
                    <module>Grep_Bracelet</module>
                    <frontName>bracelet</frontName>
                </args>
            </grep_bracelet>
        </routers>
        <layout>
            <updates>
                <grep_bracelet>
                    <file>grep/bracelet.xml</file>
                </grep_bracelet>
            </updates>
        </layout>
    </frontend>
</config>
