<?xml version="1.0"?>
<config>
    <modules>
        <Mageix_Ixcbadv>
            <version>0.1.0</version>
        </Mageix_Ixcbadv>
    </modules>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ixcbadv>
											<title>Ixcbadv - All</title>
										</ixcbadv>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
		 <updates>
			 <backend>
				<file>ixcbadv.xml</file>
			 </backend>
		 </updates>
		</layout>
		<menu>
			<ixcbadv module="ixcbadv">
				<title>Advanced IXCBA</title>
				<sort_order>71</sort_order>               
				<children>

					 <ixcbadvxml translate="title" module="ixcbadv">
		                  <title>Search XML</title>
		                  <action>ixcbadv/adminhtml_ixcbadvxml</action>
		             </ixcbadvxml>
					 <error translate="title" module="ixcbadv">
		                  <title>Error Log</title>
		                  <action>ixcbadv/adminhtml_error</action>
		             </error>
				</children>
			</ixcbadv>
		</menu>
		<events>
			<sales_order_payment_cancel>
                <observers>
                    <ixcbadv_observer>
                        <type>singleton</type>
                        <class>ixcbadv/observer</class>
                        <method>cancel</method>
                    </ixcbadv_observer>
                </observers>
			</sales_order_payment_cancel>
		
	     <sales_order_shipment_save_after>
                <observers>
                    <ixcbadv_observer>
                        <type>singleton</type>
                        <class>ixcbadv/observer</class>
                        <method>captureShipment</method>
                    </ixcbadv_observer>
                </observers>
            </sales_order_shipment_save_after>
            
			<sales_order_invoice_save_after>
                <observers>
                    <ixcbadv_observer>
                        <type>model</type>
                        <class>ixcbadv/observer</class>
                        <method>captureInvoice</method>
                    </ixcbadv_observer>
                </observers>
            </sales_order_invoice_save_after> 
            
			<sales_order_payment_refund>
				<observers>
                    <ixcbadv_observer>
                        <type>singleton</type>
                        <class>ixcbadv/observer</class>
                        <method>refundOnline</method>
                    </ixcbadv_observer>
                </observers>
			</sales_order_payment_refund>

		</events>
	</adminhtml>
    <frontend>
   <secure_url>
            <checkout_cart>/checkout/cart</checkout_cart>
            <checkout>/checkout/cart</checkout>
    </secure_url>
        <routers>
            <ixcbadv>
                <use>standard</use>
                <args>
                    <module>Mageix_Ixcbadv</module>
                    <frontName>ixcbadv</frontName>
                </args>
            </ixcbadv>
        </routers>
        <layout>
            <updates>
                <ixcbadv>
                    <file>ixcbadv.xml</file>
                </ixcbadv>
            </updates>
        </layout>
		<events>
			<sales_model_service_quote_submit_before>
				<observers>
                    <ixcbadv_observer>
                        <type>singleton</type>
                        <class>ixcbadv/observer</class>
                        <method>submitQuote</method>
                    </ixcbadv_observer>
                </observers>
			</sales_model_service_quote_submit_before>
		</events>
    </frontend> 
    <global>
		<template>
			<email>
				<amazon_failure_email_template module="ixcbadv">
					<label>Amazon Failure Email Template</label>
					<file>amazon_failure_email_template.html</file>
					<type>html</type>
				</amazon_failure_email_template>
			</email>
		</template>
		<rewrite>
			
			<mageix_ixcbadv_customer_account>
				<from><![CDATA[#^/customer/account/#]]></from>                      
				<to>/ixcbadv/customer_account/</to>
			</mageix_ixcbadv_customer_account>
			<mageix_ixcbadv_checkout_onepage>
				<from><![CDATA[#^/checkout/onepage/#]]></from>                      
				<to>/ixcbadv/checkout_onepage/</to>
			</mageix_ixcbadv_checkout_onepage>
		</rewrite>
        <models>
        
                              
        
        
            <sales>
				<rewrite>
					<order>Mageix_Ixcbadv_Model_Order</order>
				</rewrite>
				<rewrite>
					<order_payment>Mageix_Ixcbadv_Model_Order_Payment</order_payment>
				</rewrite>

			</sales>
			<ixcbadv>
                <class>Mageix_Ixcbadv_Model</class>
                <resourceModel>ixcbadv_mysql4</resourceModel>
            </ixcbadv>
            <ixcbadv_mysql4>
                <class>Mageix_Ixcbadv_Model_Mysql4</class>
                <entities>
                    <ixcbadv>
                        <table>ixcbadv</table>
                    </ixcbadv>
		    <error>
                        <table>ixcbadv_error_log</table>
                    </error>
                    <orderids>
                        <table>ixcbadv_order_ids</table>
                    </orderids>
                </entities>
            </ixcbadv_mysql4>
        </models>
        <resources>
            <ixcbadv_setup>
                <setup>
                    <module>Mageix_Ixcbadv</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ixcbadv_setup>
            <ixcbadv_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ixcbadv_write>
            <ixcbadv_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ixcbadv_read>
        </resources>
		<fieldsets>
            <customer_account>
                <prefix>
                    <to_order>customer_prefix</to_order>
                </prefix>
                <firstname>
                    <to_order>customer_firstname</to_order>
                </firstname>
                <middlename>
                    <to_order>customer_middlename</to_order>
                </middlename>
                <lastname>
                    <to_order>customer_lastname</to_order>
                </lastname>
                <suffix>
                    <to_order>customer_suffix</to_order>
                </suffix>
                <email>
                    <to_order>customer_email</to_order>
                </email>
                <group_id>
                    <to_order>customer_group_id</to_order>
                </group_id>
                <tax_class_id>
                    <to_order>customer_tax_class_id</to_order>
                </tax_class_id>
            </customer_account>
            <ixcbadv_inline_billing>
                <prefix>
                    <to_customer>*</to_customer>
                </prefix>
                <firstname>
                    <to_customer>*</to_customer>
                </firstname>
                <middlename>
                    <to_customer>*</to_customer>
                </middlename>
                <lastname>
                    <to_customer>*</to_customer>
                </lastname>
                <suffix>
                    <to_customer>*</to_customer>
                </suffix>
                <email>
                    <to_customer>*</to_customer>
                </email>
                <customer_dob>
                    <to_customer>dob</to_customer>
                </customer_dob>
                <customer_taxvat>
                    <to_customer>taxvat</to_customer>
                </customer_taxvat>
                <customer_gender>
                    <to_customer>gender</to_customer>
                </customer_gender>
            </ixcbadv_inline_billing>
            <ixcbadv_inline_quote>
                <customer_prefix>
                    <to_customer>prefix</to_customer>
                </customer_prefix>
                <customer_firstname>
                    <to_customer>firstname</to_customer>
                </customer_firstname>
                <customer_middlename>
                    <to_customer>middlename</to_customer>
                </customer_middlename>
                <customer_lastname>
                    <to_customer>lastname</to_customer>
                </customer_lastname>
                <customer_suffix>
                    <to_customer>suffix</to_customer>
                </customer_suffix>
                <customer_email>
                    <to_customer>email</to_customer>
                </customer_email>
                <customer_dob>
                    <to_customer>dob</to_customer>
                </customer_dob>
                <customer_taxvat>
                    <to_customer>taxvat</to_customer>
                </customer_taxvat>
                <customer_gender>
                    <to_customer>gender</to_customer>
                </customer_gender>
            </ixcbadv_inline_quote>
        </fieldsets>
        <blocks>
            <ixcbadv>
                <class>Mageix_Ixcbadv_Block</class>
            </ixcbadv>
			<adminhtml>
				<!--<rewrite>
				<sales_order_creditmemo_create_items>Mageix_Ixcbadv_Block_Sales_Order_Creditmemo_Create_Items</sales_order_creditmemo_create_items>
				</rewrite>-->
			</adminhtml>
			<googleanalytics>
				<rewrite>
					<ga>Mageix_Ixcbadv_Block_Ga</ga>
				</rewrite>
			</googleanalytics>
        </blocks>
        <helpers>
            <ixcbadv>
                <class>Mageix_Ixcbadv_Helper</class>
            </ixcbadv>
        </helpers>
		<ixcbadv>
            <quote>
                <totals>
                    <subtotal>
                        <renderer>ixcbadv/total_subtotal</renderer>
                    </subtotal>
                    <shipping>
                        <renderer>ixcbadv/total_shipping</renderer>
                    </shipping>
					<tax>
                        <renderer>ixcbadv/total_tax</renderer>
                    </tax>
                    <discount>
                        <renderer>ixcbadv/total_discount</renderer>
                    </discount>
                    <grand_total>
                        <renderer>ixcbadv/total_grandtotal</renderer>
                    </grand_total>
                </totals>
            </quote>
        </ixcbadv>
    </global>
    <default>
		<payment>
            <ixcbadv>
				<sort_order>0</sort_order>
                <active>1</active>
                <model>ixcbadv/ixcbadv</model>
                <title>Amazon Payments (powered by Advanced IXCBA)</title>
				<order_status>pending</order_status>
				<sandbox_mode>1</sandbox_mode>
				<weight_unit>LB</weight_unit>
				<enable_comments>1</enable_comments>
				<enable_promotional_code>1</enable_promotional_code>
				<enable_agreements>1</enable_agreements>
				<enable_ga>1</enable_ga>
				<enable_save_xmls>1</enable_save_xmls>
				<delete_xml_period>30</delete_xml_period>
				<creating_order_cron>1</creating_order_cron>
				
				<marketplace_id_US>AZ4B0ZS3LGLX</marketplace_id_US>
                <marketplace_id_UK>A2WQPBGJ59HSXT</marketplace_id_UK>
                <marketplace_id_DE>A1OCY9REWJOCW5</marketplace_id_DE>

				<sandbox_marketplace_id_US>A2SMC08ZTYKXKX</sandbox_marketplace_id_US>
                <sandbox_marketplace_id_UK>A1V3LO6WH786V3</sandbox_marketplace_id_UK>
                <sandbox_marketplace_id_DE>AVWY87JS6QRCI</sandbox_marketplace_id_DE>
				
				<mws_service_url_US>https://mws.amazonservices.com</mws_service_url_US>
                <mws_service_url_UK>https://mws.amazonservices.co.uk</mws_service_url_UK>
                <mws_service_url_DE>https://mws.amazonservices.de</mws_service_url_DE>

				<mws_service_order_url_US>https://mws.amazonservices.com</mws_service_order_url_US>
                <mws_service_order_url_UK>https://mws-eu.amazonservices.com</mws_service_order_url_UK>
                <mws_service_order_url_DE>https://mws-eu.amazonservices.com</mws_service_order_url_DE>
				<wsdl>https://merchant-api.amazon.com/gateway/merchant-interface-mime/</wsdl>

            </ixcbadv>
        </payment>
		<ixcbadv>
            <mageix_group>
                <inline_ixcbadv_enabled>1</inline_ixcbadv_enabled>
				<enable_disable_ixcbadv>1</enable_disable_ixcbadv>
            </mageix_group>
			<mageix_button>
				<button_size_ixcbadv>small</button_size_ixcbadv>
				<button_color_ixcbadv>gold</button_color_ixcbadv>
				<widgets_width_ixcbadv>400px</widgets_width_ixcbadv>
				<widgets_height_ixcbadv>260px</widgets_height_ixcbadv>
			</mageix_button>
			<mageix_themes>
				
				<!--<inline_content_width>887px</inline_content_width>-->
				<header_bg_color>#f18200</header_bg_color>
				<header_font_style>Arial, Helvetica, sans-serif</header_font_style>
				<header_font_color>#FFFFFF</header_font_color>
				<ajaxheader_font_size>15px</ajaxheader_font_size>
				<header_border_color>#CCCCCC</header_border_color>
				<buttons_bg_color>#f18200</buttons_bg_color>
				<buttons_font_style>Arial, Helvetica, sans-serif</buttons_font_style>
				<buttons_font_color>#FFFFFF</buttons_font_color>
				<buttons_font_size>15px</buttons_font_size>
				<buttons_border_color>#de5400</buttons_border_color>
				<content_font_style>Arial, Helvetica, sans-serif</content_font_style>
				<inline_bg_color>#d9e5ee</inline_bg_color>
				<heading_font_size>18px</heading_font_size>
				<subheading_font_size>15px</subheading_font_size>
				<text_font_size>12px</text_font_size>
				<smethods_font_size>12px</smethods_font_size>
				<inline_font_style>Arial, Helvetica, sans-serif</inline_font_style>
				<inline_font_color>#000000</inline_font_color>
				<inline_message_bg_color>#d9e5ee</inline_message_bg_color>
				<inline_message_font_style>Arial, Helvetica, sans-serif</inline_message_font_style>
				<inline_message_font_color>#000000</inline_message_font_color>
				<inline_message_font_size>15px</inline_message_font_size>
				<inline_message_border_color>#CCCCCC</inline_message_border_color>
				<agreement_width>500</agreement_width>
			</mageix_themes>
		</ixcbadv>
    </default>
	<crontab>
			<jobs>

				<ixcbadv_xmldelete>
					<schedule><cron_expr>*/720 * * * *</cron_expr></schedule>
					<run><model>ixcbadv/observer::ixcbadvXmlExists</model></run>
				</ixcbadv_xmldelete>
			</jobs>
	</crontab>
</config>