<?xml version="1.0"?>
<!--
/**
 * Celebros Qwiser - Magento Extension
 *
 * @category    Celebros
 * @package     Celebros_Qwiser
 * @author		Omniscience Co. - Dan Aharon-Shalom (email: dan@omniscience.co.il)
 *
 */
-->
<config>
	<tabs>
		<celebros translate="label" module="salesperson">
			<label>Celebros Salesperson</label>
			<sort_order>300</sort_order>
		</celebros>
	</tabs>
   <sections>
        <salesperson translate="label" module="salesperson">
        	<label>Salesperson Settings</label>
			<tab>celebros</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
           	<show_in_store>1</show_in_store>
            <groups>
                <general_settings translat="label">
                	<label>General Settings</label>
                	<frontend_type>text</frontend_type>
                	<sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                	<fields>
                		<host translate="label">
                			<label>Host</label>
                			<frontend_type>text</frontend_type>
                			<sort_order>0</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</host>
                		<port translate="label">
                			<label>Port</label>
                			<frontend_type>text</frontend_type>
                			<sort_order>10</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</port>
                		<sitekey translate="label">
                			<label>Site Key</label>
                			<frontend_type>text</frontend_type>
                			<sort_order>20</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</sitekey>
                	</fields>
                </general_settings>
                <export_settings  translat="label">
                	<label>Export Data Format Settings</label>
                	<frontend_type>text</frontend_type>
                	<sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                		<fields>
                			<delimiter translate="label">
                				<label>Value Delimtier</label>
			                	<frontend_type>text</frontend_type>
			                	<sort_order>0</sort_order>
			                    <show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
			                    <comment>(\t for tab)</comment>
                			</delimiter>
                			<enclosed_values translate="label">
                				<label>Enclosed Value In</label>
                				<frontend_type>text</frontend_type>
                				<sort_order>10</sort_order>
			                    <show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
			                    <comment>Warning! Empty value can cause problems with CSV format.</comment>
                			</enclosed_values>
                			<min_tier_price translate="label">
                				<label>Minimal tier pricing as a price</label>
                				<frontend_type>select</frontend_type>
                            	<source_model>adminhtml/system_config_source_yesno</source_model>
                				<sort_order>11</sort_order>
                				<show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
                			</min_tier_price>							
                			<type translate="label">
                				<label>Type</label>
                				<frontend_type>select</frontend_type>
                            	<source_model>salesperson/system_config_source_fileftp</source_model>
                				<sort_order>20</sort_order>
                				<show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
                			</type>
                			<path translate="label">
                				<label>Absolute Path</label>
                				<frontend_type>text</frontend_type>
								<comment>E.g. /var/www/vhosts/yourdomain.com/var/export</comment>
                				<sort_order>30</sort_order>
                				<show_in_default>1</show_in_default>
                				<show_in_website>0</show_in_website>
                				<show_in_store>0</show_in_store>
                			</path>
                			<ftp_host translate="label">
                				<label>FTP Host</label>
                				<frontend_type>text</frontend_type>
                				<sort_order>40</sort_order>
			                    <show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
			                    <depends><type>ftp</type></depends>
                			</ftp_host>
                			<ftp_port translate="label">
                				<label>FTP Port</label>
                				<frontend_type>text</frontend_type>
                				<sort_order>50</sort_order>
			                    <show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
			                    <depends><type>ftp</type></depends>
                			</ftp_port>
                			<ftp_user translate="label">
                				<label>FTP User</label>
                				<frontend_type>text</frontend_type>
                				<sort_order>60</sort_order>
			                    <show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
			                    <depends><type>ftp</type></depends>
                			</ftp_user>
                			<ftp_password translate="label">
                				<label>FTP Password</label>
                				<frontend_type>text</frontend_type>
                				<sort_order>70</sort_order>
			                    <show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
			                    <depends><type>ftp</type></depends>
                			</ftp_password>
                			<passive translate="label">
                				<label>Passive</label>
                				<frontend_type>select</frontend_type>
                            	<source_model>adminhtml/system_config_source_yesno</source_model>
                				<sort_order>80</sort_order>
                				<show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
			                    <depends><type>ftp</type></depends>
                			</passive>
                			<cron_enabled translate="label">
                				<label>Enable Cron Catalog Update</label>
                				<frontend_type>select</frontend_type>
                            	<source_model>adminhtml/system_config_source_yesno</source_model>
                				<sort_order>81</sort_order>
                				<show_in_default>1</show_in_default>
			                    <show_in_website>0</show_in_website>
								<show_in_store>1</show_in_store>
                			</cron_enabled>
                			<profile_id translate="label">
	                            <label>Salesperson Export Profile Id</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>85</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>0</show_in_website>
	                            <show_in_store>1</show_in_store>
	                            <depends><cron_enabled>1</cron_enabled></depends>
	                        </profile_id>
	               			<cron_expr translate="label">
	                            <label>Cron Expression</label>
	                            <frontend_type>text</frontend_type>
	                            <comment>Cron expression syntax</comment>
	                            <!-- <backend_model>salesperson/system_config_backend_export_cron</backend_model> -->
	                            <sort_order>90</sort_order>
	                            <show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
	                            <show_in_store>1</show_in_store>
	                            <depends><cron_enabled>1</cron_enabled></depends>
	                        </cron_expr>
                		</fields>
                </export_settings>
                <display_settings>
                	<label translate="label">Result Display Settings</label>
                	<frontend_type>text</frontend_type>
                	<sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                		<alt_message translate="label">
                			<label>Alternative Products Message</label>
                			<frontend_type>text</frontend_type>
                			<comment>Use {{query}}, {{new_query}} tags to display the search terms</comment>
                			<sort_order>0</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</alt_message>					
                		<layout translate="label">
                            <label>Page Layout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>salesperson/system_config_source_layouts</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </layout>
                		<display_non_lead translate="label">
                			<label>Show Non Lead Questions</label>
                			<frontend_type>select</frontend_type>
                            <source_model>salesperson/system_config_source_nonlead</source_model>
                			<sort_order>20</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</display_non_lead>						
                        <display_lead translate="label">
                			<label>Show Lead Question</label>
                			<frontend_type>select</frontend_type>
                            <source_model>salesperson/system_config_source_lead</source_model>
                			<sort_order>30</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</display_lead>
                        <breadcrumbs translate="label">
                            <label>Show Breadcrumbs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </breadcrumbs>
                        <display_image_lead_question translate="label">
                            <label>Display Images In Lead Question</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_image_lead_question>
                    	<max_lead_answers translate="label">
	                    	<label>Maximum Lead Answers</label>
	                    	<frontend_type>text</frontend_type>
	               			<sort_order>90</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
                    	</max_lead_answers>
                    	<max_non_lead_questions translate="label">
	                    	<label>Maximum Non Lead Questions</label>
	                    	<frontend_type>text</frontend_type>
	               			<sort_order>110</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
	                   	</max_non_lead_questions>
                    	<max_non_lead_answers translate="label">
	                    	<label>Maximum Non Lead Answers</label>
	                    	<frontend_type>text</frontend_type>
	               			<sort_order>120</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
                    	</max_non_lead_answers>
                    	<max_non_lead_answers_side_nav translate="label">
	                    	<label>Maximum Non Lead Answers In Side Nav</label>
	                    	<frontend_type>text</frontend_type>
	               			<sort_order>130</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
                    	</max_non_lead_answers_side_nav>
						<enable_non_lead_answers_multiselect translate="label">
							<label>Enable Non Lead Answers Multiselect</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>131</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_non_lead_answers_multiselect>						
                		<show_product_count_in_lead_answers translate="label">
                			<label>Show Product Count In Lead Answers</label>
                			<frontend_type>select</frontend_type>
                			<source_model>adminhtml/system_config_source_yesno</source_model>
                			<sort_order>140</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</show_product_count_in_lead_answers>
                		<show_product_count_in_non_lead_answers translate="label">
                			<label>Show Product Count In Non Lead Answers</label>
                			<frontend_type>select</frontend_type>
                			<source_model>adminhtml/system_config_source_yesno</source_model>
                			<sort_order>150</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</show_product_count_in_non_lead_answers>
                		<page_size_selector translate="label">
                			<label>Page Size Selector Type</label>
                			<frontend_type>select</frontend_type>
                			<source_model>salesperson/system_config_source_selectortype</source_model>
                			<sort_order>170</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</page_size_selector>
                		<sorting_selector translate="label">
                			<label>Sort Selector Type</label>
                			<frontend_type>select</frontend_type>
                			<source_model>salesperson/system_config_source_selectortype</source_model>
                			<sort_order>180</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</sorting_selector>
                		<page_nav_type translate="label">
                			<label>Pagination</label>
                			<frontend_type>select</frontend_type>
                			<source_model>salesperson/system_config_source_pagenavtype</source_model>
                			<sort_order>190</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</page_nav_type>
                    	<go_to_product_on_one_result translate="label">
                			<label>Go To Product Page On One Result</label>
                			<frontend_type>select</frontend_type>
                			<source_model>adminhtml/system_config_source_yesno</source_model>
                			<sort_order>200</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</go_to_product_on_one_result>
                    	<search_profile translate="label">
                			<label>Search profile name</label>
                			<frontend_type>text</frontend_type>
                			<sort_order>210</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</search_profile>						
                    </fields>
                </display_settings>
                <anlx_settings>
                	<label translate="label">Analytics Settings</label>
                	<frontend_type>text</frontend_type>
                	<sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<ai_writer_address translate="label">
	                    	<label>Analytics Interface Server</label>
	                    	<frontend_type>text</frontend_type>
	                    	<comment>The analytics interface server address</comment>
	               			<sort_order>0</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
                    	</ai_writer_address>
                    	<cid translate="label">
	                    	<label>Customer Id</label>
	                    	<frontend_type>text</frontend_type>
	               			<sort_order>10</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
                    	</cid>
                    	<protocol_connection translate="label">
                			<label>Secure Connection</label>
                			<frontend_type>select</frontend_type>
                			<source_model>adminhtml/system_config_source_yesno</source_model>
                			<sort_order>20</sort_order>
                			<show_in_default>1</show_in_default>
                			<show_in_website>0</show_in_website>
                			<show_in_store>1</show_in_store>
                		</protocol_connection>
                    	<dc translate="label">
	                    	<label>Data Collector DNS</label>
	                    	<frontend_type>text</frontend_type>
	               			<sort_order>30</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
                    	</dc>
                    </fields>
            	</anlx_settings>
                <autocomplete_settings>
                	<label>Auto Complete Settings</label>
                	<frontend_type>text</frontend_type>
                	<sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<ac_frontend_address translate="label">
	                    	<label>Auto Complete Frontend Server</label>
	                    	<frontend_type>text</frontend_type>
	                    	<comment>Host name / ip of the server on which the AutoComplete front-end resides</comment>
	               			<sort_order>0</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
                    	</ac_frontend_address>
                    	<ac_scriptserver_address translate="label">
	                    	<label>Auto Complete Script Server</label>
	                    	<frontend_type>text</frontend_type>
	                    	<comment>Host name / ip of the server on which the AutoComplete content (scripts and styles) website resides. This is typically the same as above.</comment>
	               			<sort_order>10</sort_order>
	               			<show_in_default>1</show_in_default>
	               			<show_in_website>0</show_in_website>
	                   		<show_in_store>1</show_in_store>
                    	</ac_scriptserver_address>						
                    </fields>
            	</autocomplete_settings>				
            </groups>
        </salesperson>
    </sections>
</config>
