
// =============================================
// Mixin - box shadow
// =============================================

@mixin boxshadow($h: 2px, $v: 2px, $blur: 2px, $spread: 2px, $color:rgba(0, 0, 0, 0.2)) {
  -webkit-box-shadow: $h $v $blur $spread $color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    $h $v $blur $spread $color;  /* Firefox 3.5 - 3.6 */
  box-shadow:         $h $v $blur $spread $color;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
